<div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="https://a0.muscache.com/im/pictures/96089873/8f12a580_original.jpg?aki_policy=x_large">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><%= @choice.name %><i class="material-icons right">more_vert</i></span>
        <p><a href=<%= @choice.url %>>Ver Enlace</a>
          <div class="chip">
            <i class="small material-icons" alt="Contact Person">insert_chart</i>
            <div class="number"> <%= @choice.counter %> </div> 
          </div>
         <input type="checkbox" class="option" name='<%= "#{@choice.name}"%>' value="<%= @choice.id %>" id='<%= "#{@choice.name.gsub(" ", "-")}"%>'>
         <label for='<%= "#{@choice.name.gsub(" ", "-")}"%>'></label>
        <p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4" id='<%= "#{@choice.name.gsub(" ", "-")}-price"%>'><%= @choice.price%>€<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
