<%= stylesheet_link_tag 'events', media: 'all' %>

<% transporte = @event.tasks.detect {|t| t.name == "transporte"} %>

<% puts transporte %>

<% alojamiento = @event.tasks.detect {|t| t.name == "alojamiento"} %>

<% puts alojamiento %>

<% extras = @event.tasks.detect {|t| t.name == "extras"} %>

<% puts extras %>

<div class="header-event">
      <p class="title-event-1"><br><%= @event.name %></br></p>
      <p class="title-event-2"><%= @event.description %></p>
      <p class="title-event-3"> Total <span id="total-price">0</span>€</p>
      <a class="waves-effect waves-light btn-large" id="js-send-options"><i class="material-icons right">send</i>Enviar Evento</a>
</div>

  <ul id="tabs-swipe-demo" class="tabs">
    <li class="tab col s3"><a href="#test-swipe-1">Transporte</a></li>
    <li class="tab col s3"><a class="active" href="#test-swipe-2">Alojamiento</a></li>
    <li class="tab col s3"><a href="#test-swipe-3">Extras</a></li>
  </ul>
  <div id="test-swipe-1" class="col s12">
    <% transporte.choices.each_with_index do |choice, index| %>
    <div class="card small">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="https://a0.muscache.com/im/pictures/96089873/8f12a580_original.jpg?aki_policy=x_large">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><%= choice.name %><i class="material-icons right">more_vert</i></span>
        <p><a href=<%= choice.url %>>Ver Enlace</a>
         <input type="radio" class="option" name="transport-option" value="<%= choice.id %>" id='<%= "transport#{index}"%>' />
         <label for='<%= "transport#{index}"%>''></label>
        <p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4" id='<%= "transport#{index}-price"%>'><%= choice.price%>€<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
    <% end %>    
  </div>
  <div id="test-swipe-2" class="col s12">
    <% alojamiento.choices.each_with_index do |choice, index| %>
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://a0.muscache.com/im/pictures/96089873/8f12a580_original.jpg?aki_policy=x_large">
        </div>
      <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><%= choice.name %><i class="material-icons right">more_vert</i></span>
          <p><a href=<%= choice.url %>>Ver Enlace</a>
           <input type="radio" class="option" name="accomodation-option" value="<%= choice.id %>" id='<%= "accommodation#{index}"%>' />
           <label for='<%= "accommodation#{index}"%>'></label>
          <p>
       </div>
         <div class="card-reveal">
         <span class="card-title grey-text text-darken-4" id='<%= "accommodation#{index}-price"%>'><%= choice.price%>€<i class="material-icons right">close</i></span>
         <p>Here is some more information about this product that is only revealed once clicked on.</p>
       </div>
     </div>
    <% end %>
  </div>
  <div id="test-swipe-3" class="col s12">
    <% extras.choices.each_with_index do |choice, index| %>
     <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="https://a0.muscache.com/im/pictures/96089873/8f12a580_original.jpg?aki_policy=x_large">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><%= choice.name %><i class="material-icons right">more_vert</i></span>
        <p><a href=<%= choice.url %>>Ver Enlace</a>
         <input type="checkbox" class="option" name='<%= "#{choice.name}"%>' value="<%= choice.id %>" id='<%= "#{choice.name.gsub(" ", "-")}"%>'>
         <label for='<%= "#{choice.name.gsub(" ", "-")}"%>'></label>
        <p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4" id='<%= "#{choice.name.gsub(" ", "-")}-price"%>'><%= choice.price%>€<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
   <% end %>
  </div>
