<%= stylesheet_link_tag 'event_menu', media: 'all' %>

  <ul id="slide-out" class="side-nav js-menu">
    <li><div class="userView">
      <div class="background">
        <img class="menu" src="/images/kids.png">
      </div>
      <a href="#!user"><img class="circle" src="https://www.balearia.com/wps/wcm/connect/29be9bb4-a010-450d-80a0-0cba78be8240/1/llauts-tradicion-marinera-formentera.png?MOD=AJPERES&CACHEID=29be9bb4-a010-450d-80a0-0cba78be8240/1"></a>
      <a href="#!name"><span class="white-text name"><%= @event.name %></span></a>
      <a href="#!email"><span class="white-text email"><%= @event.description %></span></a>
    </div></li>
    <li class="user"><a href="#modal1">Invitados</a><i class="material-icons user">perm_identity</i></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Opciones</a></li>
    <li class="task"><a class="waves-effect" href="#!">Transporte</a>
        <div data-type="transporte" class="switch js-add-task">
          <label>
            <input type="checkbox">
            <span class="lever"></span>
          </label>
        </div>
    </li>
    <li class="task"><a class="waves-effect">Alojamiento </a>
        <div data-type="alojamiento" class="switch js-add-task">
          <label>
             <input type="checkbox">
             <span class="lever"></span>
          </label>
         </div>
    </li>
    <li class="task"><a class="waves-effect" href="#!">Extras</a>
        <div data-type="extras" class="switch js-add-task">
          <label>
            <input type="checkbox">
            <span class="lever"></span>
          </label>
        </div>
    </li>
    <li><div class="divider"></div></li>
        <li class="user"><a href="#modal2">Resultados</a><i class="material-icons user">perm_identity</i></li>
  </ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Introduce tus Invitados</h4>
      <p><%= form_tag(send_email_path(@event)) do %>
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="message" name="message" class="materialize-textarea"></textarea>
          <label for="message">Email</label>
        </div>
        <div>
          <button type="submit" class="waves-effect waves-light btn"> Enviar evento <i class="material-icons right">send</i>button</button>
        </div> 
      <% end %></p>
    </div>
  </div>

  <div id="modal2" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Resultados</h4>
      <div>
        
      </div>
         <button type="submit" class="waves-effect waves-light btn"> Enviar evento final <i class="material-icons right">send</i>button</button>
      </div> 
    </div>
  </div>
        <ul class="collapsible" id="tasks-collapsible" data-collapsible="expandable">
        <li>
          <div class="collapsible-header"><i class="material-icons">navigation</i>Transporte
            <!-- Modal Trigger -->
            <a class="btn-floating btn-large waves-effect waves-light green" href="#modal1"><i class="material-icons options">add</i></a>
            <!-- Modal Structure -->
            <div id="modal1" class="modal">
              <div class="modal-content">
                <h4> Añade un transporte </h4>
                <p>A bunch of text</p>
              </div>
              <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Añadir</a>
              </div>
            </div>
          </div>
          <div class="collapsible-body"><span><%= render 'transport_options', event: @event %></span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">place</i>Alojamiento
           <!-- Modal Trigger -->
            <a class="btn-floating btn-large waves-effect waves-light green" href="#modal1"><i class="material-icons options">add</i></a>
            <!-- Modal Structure -->
              <div id="modal1" class="modal">
                <div class="modal-content">
                  <h4> Añade un transporte </h4>
                  <p>A bunch of text</p>
                </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Añadir</a>
                </div>
              </div>
            </div>
          <div class="collapsible-body"><span><%= render 'accommodation_options', event: @event %></span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">redeem</i>Extras
           <!-- Modal Trigger -->
            <a class="btn-floating btn-large waves-effect waves-light green" href="#modal1"><i class="material-icons options">add</i></a>
            <!-- Modal Structure -->
            <div id="modal1" class="modal">
              <div class="modal-content">
                <h4> Añade un transporte </h4>
                <p>A bunch of text</p>
              </div>
              <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Añadir</a>
              </div>
            </div>
          </div>
          <div class="collapsible-body"><span><%= render 'extras_options', event: @event %></span></div>
        </li>
      </ul>



  <div class="choiceForm" id="transporte">
    <div class="options"></div>
  </div>

  <div class="choiceForm" id="alojamiento"> 
    <div class="options"></div>
  </div>
  <div class="choiceForm" id="extras">  
    <div class="options"></div>
  </div>

<%= link_to 'Edit', edit_event_path(@event) %>
<%= link_to 'Back', events_path %>
