<%= stylesheet_link_tag    'sessions_new', media: 'all' %>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
<p class="brand">PlanIn</p>

<p class="claim">Conéctate con tus amigos y organiza todos <br> tus planes</p>

<div class="signup">

<h2 class="registration">¿No tienes cuenta? Registrate</h2>

<div class="line"></div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div>
    <%= f.text_field :name, placeholder: "Nombre", autofocus: true, class: 'form-control' %> 
  </div>

  <div >
    <%= f.email_field :email, placeholder: "Correo Electronico", class: 'form-control' %>
  </div>

  <div>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, placeholder: "Contraseña", autocomplete: "off", class: 'form-control' %>
  </div>

  <div>
    <%= f.submit "Registrate", class: 'form-control actions' %>
  </div>
<% end %>
</div>

<div class="login">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div>
    <%= f.email_field :email, placeholder: "Correo Electronico", autofocus: true, class: 'form-control' %>
  </div>

  <div>
    <%= f.password_field :password, placeholder: "Contraseña", autocomplete: "off", class: 'form-control' %>
  </div>


  <div >
    <%= f.submit "Iniciar Sesion", class: 'form-control actions'  %>
  </div>
  
  <% if devise_mapping.rememberable? -%>
    <div class="row forgetpassword">
      <div class="col-md-1"> <%= f.check_box :remember_me%> </div>
      <div class="col-md-5"> <%= f.label "Recordar contraseña"%></div>
      <div class="col-md-6"> <%= render "devise/shared/links" %></div>
    </div>
  <% end -%>

<% end %>

</div>
